<form action="import" method="get">
  <div>
    <label for="name">Enter the name of an ingredient: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div>
    <p></p>
    <input type="submit">
  </div>
</form>